#Virtual Environment
venv/
/cyberworld/demo.db
# flask_session/
# Flask
instance/*
!instance/.gitignore
.webassets-cache
.gitignore
flask_session/*
# Flask.Python Stack
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class