<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sample.css')}}">	

{% extends "layout.html" %}


	
{% block body %}
	
	<!-- <h1 style="text-align: center;">YO its new </h1> -->
	<br><br>

	 <form action="/hello" style="text-align: center;">
		<input type="text" name="name" placeholder="Name"> 
		 <input class="btn btn-primary" type="submit" value="Submit" name="name" type="text" placeholder="Name"> 
		
	</form>

	<!-- <div class="p-3 mb-2 bg-dark text-white"><h1 style="color: green; text-align: center;">Hello John.!</h1></div> -->

	 <h1> My coding Handles</h1><br>
	<div class="chandles">
			<h4 class="container"><li><a href="http://codechef.com/users/llt_kmr" >Codechef</a></li></h4>
		<h4 class="container"><li><a href="https://hackerearth.com/profile/llt_kmr">Hackerearth</a></li></h4>
		<h4 class="container"><li><a href="#" >Hackerrank</a></li></h4>
		<h4 class="container"><li><a href=# >Github</a></li></h4>
	</div>
	<br>

	<h1>My Social media Handles</h1><br>
	<div class="shandles">
		<h4 class="container"><li><a href=# >Twitter</a></li></h4>
		<h4 class="container"><li><a  href=#>Facebook</a></li></h4>
		<h4 class="container"><li><a href="#" >Instagram</a></li></h4>
		<h4 class="container"><li><a href=# >Linkedin</a></li></h4>
	</div>

	<br><br><br>
	
	<!-- 	<h3 ><a class="adda" href="addi">TODO list</a></h3> -->
	
	<br><br>
	

	<br><br>
	<!-- <h3 ><a class="adda" href="/sqldemo"> Click here for table</a></h3> -->

	<!-- <img src="../imgs/hello.png",alt="Friends"> -->
	<br>
	
	<br>
	


{% endblock %}





